*{
    font-family: 'Sarpanch', sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(246, 228, 204);
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    width: 20rem;
    height: 33rem;
    padding:0 .6rem;
    background-color: rgba(36, 79, 63, 0.8);
    margin: 0 auto;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}
#result{
    height: 120px;
}
#history{
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: #fcfcfc;
}
#output{
    background-color: rgb(206, 222, 164);
    text-align: right;
    height: 60px;
    margin: 10px 8px;
    font-size: 30px;
    border-bottom: 4px solid white;
    border-right: 4px solid white;
    box-shadow: 2px 1px 1px 3px black;
}
#keyboard{
    height: 400px;
    margin-top: 1.4rem;
}
.operator,.number{
    width: 62px;
    height: 50px;
    margin: 9px;
    float: left;
    border-width: 0;
    font-weight: bold;
    font-size: 1.5rem;
    box-shadow: 2px 3px black;
    border-radius: 2px;
}

.number,.operator{
    cursor: pointer;
}
.operator{
    font-size: 20px;
    background-color: rgb(211, 70, 98);
    color: white;
    
}
.number,.dot{
    background-color: rgb(70, 81, 77);
    color: white;
}
.op{
    background-color: rgb(168, 155, 155);
    color: white;
}
.operator:active, .number:active{
    font-size: 1.3rem;
}
.operator:focus,.number:focus,.empty:focus{
    outline: 0;
}

button:active{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.equal{
    text-transform: uppercase;
    border-radius: 2px;
    width: 8.7rem;
    background-color: orange;
    color: white;
    text-shadow: 1px 2px 3px black;
}